.nav-container {
    background: #1d1a1a;
  }
  .nav-container a{
    color: #dedede;
  }

.nav-land{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left:auto;
    margin-right: auto;
    padding: 10px 20px;
    align-items: center;
}

.menu-landing-page, .conatiner-buttom-login{
    display: flex;
    gap: 20px;
    align-items: center;

}
.nav-land ul {
    list-style: none;
}

