.Header_div{
    display: grid;
    height: 80px;
    width: 100%;
    background-color: #F8FCF7 ;
    border: 1px solid;
}
.nav-land{
    display: grid;
    grid-template-columns: 250px 2fr 2fr;
}

.imagem-logo{
    grid-column: 1;
    align-self: center;
    justify-self: end;
    margin-right: 50px;
}
.imagem-logo img{
    display: block;
    height: 60px;
    width: 80px;
}

.menu-landing-page{
    display: flex ;
    align-items: center;
}
.menu-landing-page li{
    margin-left: 40px;
    list-style: none;
}
.menu-landing-page li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 400;
}

.conatiner-buttom-login{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

}
.conatiner-buttom-login button{
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    height: 32px;
    width: 100px;
    border: 1px solid #ffff underfined;
    padding: 0px 12px 0px 12px;
    min-height: 32px;
    border-radius: 20px;
}
.conatiner-buttom-login a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

